@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    
    h1{
        @apply font-Baloo
    }

    #span_info span{
        @apply flex justify-center items-center rounded-full w-8 h-8 text-background
    }

   #span_info p{
        @apply flex gap-3 items-center 
   }

   #input_address input{
        @apply h-[42px] rounded bg-base-input p-3 placeholder:text-base-label border text-base-text
   }

   #button_payment button{
    @apply flex gap-3 items-center bg-base-button p-4 rounded-md text-xs hover:bg-base-hover focus:bg-purple-light focus:border focus:border-purple
   }
}

html {
    font-family: Roboto;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
